{% extends "base.html"%} {%block content%}
<div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
            <div class="bg-gallery" align='center'>
                <h1>WELCOME</h1>
                <h2>TO</h2>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">THE ART OF GALLERY</h2>
          <p class="card-text">
            The gallery app is a simple tool to view, manage, and organize images and videos on your devices</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
{%endblock%}
