{%extends 'base.html'%} {%block content%}
<div class="card">
  {% if images%}
  <img src="{{images.image.url}}" alt="" style="width: 500px" />
  <div class="p-3">
    <p>Name: {{images.image_name}}</p>
    <p>Category: {{images.category}}</p>
    <p>Location: {{images.location}}</p>
    <p>Description: {{images.image_description}}</p>
  </div>
  {% else %}
  <h2>No images found {{message}}</h2>
  {% endif %}
</div>
{%endblock%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SEARCH RESULTS</title>
  </head>
  <body>
    <div class="container">
      <div class="row"></div>
      <hr />
      <div class="row">
        <div class="container">
          <div class="card-columns">
            {% comment %} {% if all_images %} {% for image in images %}

            <div class="card" style="width: 18rem">
              <img
                class="card-img-top"
                class="img-fluid"
                src="{{image.image.url}}"
                size="100px200"
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            {%endfor%}
          </div>
        </div>
        {% endif %} {% endcomment %}
      </div>
    </div>
  </body>
</html>
