{%extends 'base.html'%} {% block content %}

<h1>All images</h1>

{%if all_images%}
<div class="row">
  {%for image in all_images%}
  <div class="image-details-overlay hide" id="image-details-overlay">
    <p id="close-btn">&#215;</p>
    <div class="image-details">
      <img src="" alt="" id="image-details-img" style="max-width: 600px" />
      <h4 id="image-details-name"></h4>
      <hr />
      <p id="image-details-description"></p>
      <p id="image-details-location"></p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 my-3">
    <div class="card image-card" style="width: 18rem">
      <img
        class="card-img-top"
        src="{{image.image.url}}"
        alt="Card image cap"
        style="cursor: pointer; max-height: 170px; min-height: 170px"
      />
      <div class="card-body">
        <h5 class="card-title">{{image.image_name}}</h5>
        <p class="card-text" style="max-height: 60px; min-height: 60px">
          {{image.image_description}}
          <span id="card-subtext">{{image.location}}</span>
        </p>
        <hr />
        <div>
          <a href="{% url 'home'%}details/{{image.id}}" class="copy-target"
            >more details</a
          ><span class="btn btn-outline-primary btn-sm m-3 copy-btn"
            >copy link</span
          >
        </div>
        <hr />
        <a href="{% url 'home'%}get_update/{{image.id}}" class="btn btn-primary"
          >update</a
        >
        <a
          href="{% url 'home'%}delete_image/{{image.id}}"
          class="btn btn-danger"
          >delete</a
        >
      </div>
    </div>
  </div>
  {%endfor%}
</div>

{%else%}
<h3 class="text-warning m-3">No Images found</h3>
{%endif%} {%endblock%}
