html,
body {
  font-size: medium;
  font-family: "Shadows Into Light", cursive;
  font-weight: 600;
}

.image-details-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  z-index: 50;
  padding: 2rem;
  min-height: 100vh;
  margin-left: -2rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-details {
  background: #fff;
  padding: 3rem;
}

#close-btn {
  font-size: 1.5rem;
  background: rgb(65, 93, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: #000;
  cursor: pointer;
}

.hide {
  display: none;
}

#card-subtext {
  font-size: 0.7rem;
  color: skyblue;
  display: block;
}

.bg {
  background: #03071e;
}
.all {
  color: green;
  text-align: center;
}

.bg-gallery {
  background-image: url("gallery.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-gallery > h1 {
  color: #fff;
  text-align: center;
}
.bg-gallery > h2 {
  color: #fff;
  text-align: center;
}

.background{
  background-color: #f8edeb;
}

.p-3{
   background-color:  #e5dcc5;
}

.p-4{
   background-color:  #fadde1;
}